<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello , <%= locals.name %> </h1>
    <form action="/logout" method="get">     
     <button type="submit"><h1>logout</h1></button>
     </form>

</body>
</html>